.carousel{
    height: 60vh !important;
}


img{
    height: 60vh;
}

.navbar{
    height: 13vh;
}

#cards{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-top: 10vh;
}

.card{
    height: 60vh;
}

.card img{
    height: 60vh;
}

#fale-conosco{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fale-conosco form{
    width: 40vw;
    height: 35vh;
}

.button-final{
    margin-top: 2vh;
}

#footer{
    height: 10vh;
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#copy{
    display: flex;
    align-items: center;
}

.text{
    display: flex;
    align-items: center;
    height: 4vh;
}


